{% extends 'base.html' %}

{% block head %}

<title>about.</title>
<style>

     body{

        background-color: lightskyblue;
     }

</style>


{% endblock %}


{% block body %}

<p>
<bold><h1>PLASMA DONAR APPLICATION<h1></h1></bold>
<br>

During the COVID 19 crisis, the requirement of plasma became a high priority and the donor count has become low. Saving the donor information and helping the needy by notifying the current donors list, would be a helping hand. In regard to the problem faced, an application is to be built which would take the donor details, store them and inform them upon a request.


<br>

        <img src="static/images/Arch.png"/><br>

        


        <br>
        </p>

        {% endblock %}