{% extends 'base.html' %}

{% block head %}

<title>signin page</title>
<style>

     body{

        background-color: lightslategray;
     }
</style>


{% endblock %}

{% block body %}

<body>
    <div id="heading">
    <h1 align="center">Login Here!!</h1>
    </div>
    <div id="table">
    <table border="2px" cellpadding="8" bgcolor="LightBlue" align="center">
    <tr><td>
    <form method="POST" action="/signin">
    Enter User Name : <input type="text"/>
    <br><br>
    Enter Password : <input type="text" id="password"/>
    <br><br>
    <input type="submit" value="Login"/>
    </form>
    </div>
    <br><br>
    <a href="signup.html">New User</a>
    </td>
    </tr>
    </table>
    </div>
    </div>
    </body>
{% endblock %}